@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova-regular-webfont.eot);
    src: url(../fonts/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/proximanova-regular-webfont.woff) format('woff'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url(../fonts/proximanova-regular-webfont.ttf) format('truetype'), url(../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular) format('svg')
}
body {
    color: #666668;
    font-family: 'Proxima Nova',Helvetica,Arial,sans-serif;
}
a {
    color: #00a996;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.btn,.form-control,.input-group-addon{box-shadow:1px 1px 4px rgba(0,0,0,.4);transition:all .4s ease 0s}
.logo {
    background: url("../images/logo.png") no-repeat scroll 0 0;
    margin: 0 auto;
    width: 72px;
}
.logo a {
    display: block;
    height: 75px;
    margin: 5px 0;
    overflow: hidden;
    text-indent: 100%;
}
.well{background-color:#f2f5f7}
.panel-default>.panel-heading{background-color:#00A996;color:#fff}
.panel{box-shadow:0 1px 4px rgba(0,0,0,.3)}